beautifulsoup4==4.12.3
bs4==0.0.2
contractions==0.1.73
fastapi==0.115.6
fastapi-cli==0.0.7
joblib==1.4.2
nltk==3.9.1
numpy==2.2.0
pandas==2.2.3
psycopg2-binary
pytest==8.3.4
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.6.0
tqdm==4.67.1
uvicorn==0.34.0
